/* General styles */

section {
    display: flex;
    max-width: 1024px;
    width: 100%;
}

nav {
    display: flex;
    max-width: 1024px;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

/* header */

.header_container {
    display: flex;
    justify-content: center;
}

.websitetitle {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
}

.header_logo>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 8px;
}

.navigation>ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navigation a {
    text-decoration: none;
}

.list_items {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    cursor: cell;
    transition: 0.6s;
}

.list_items:hover {
    color: #b528df;
}

.headerbuttons_wrap {
    display: flex;
    gap: 12px;
}

.buttons_wrap {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: cell;
}

.headerbuttons_wrap a {
    text-decoration: none;
}

.logIn {
    color: #414651;
    border: 1px solid #D5D7DA;
    background: #FFF;
}

.signUp {
    color: #FFF;
    border-radius: 8px;
    border: none;
    background: #7F56D9;
}